<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginRequestHandler</servlet-name>
        <servlet-class>LoginRequestHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdate</servlet-name>
        <servlet-class>ProfileUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooking</servlet-name>
        <servlet-class>ManageBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRegistration</servlet-name>
        <servlet-class>ManageRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginRequestHandler</servlet-name>
        <url-pattern>/LoginRequestHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdate</servlet-name>
        <url-pattern>/ProfileUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooking</servlet-name>
        <url-pattern>/ManageBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRegistration</servlet-name>
        <url-pattern>/ManageRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
